body {
    margin: 0;
    padding: 0;
}

.navbar-wrapper{
    display: flex;
    cursor: pointer;
    padding: 20px;
    align-items: center;
}

.navbar ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}


.nav-list a{
    color: black;
    text-decoration: none;
}

.nav-list a:hover{
    color: grey;
}

.hero-section{
    padding: 10px;
}

.user-card{
    padding: 10px;
}